.Rproj.user
*.Rhistory
.RData
.Ruserdata

# figures
*.png
*.eps

# output files
*.pdf
*.doc
*.html
*.md

#binary imput files
*.xls
*.mdb
*.zip

#markdown cache
*_cache/
*_files/

#outputFiles
*.csv
!region_bounding_boxes.csv

#datafile
*.RData
*.Rdata

#drake cache
.drake/
